.indexapp {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #ae1010;
}

.cmslogo {
    height: 60px;
}

.quit {
    width: 126px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.cms_quit {
    width: 28px;
    height: 28px;
}

.cms_user {
    position: relative;
    /* width: 128px; */
    height: 60px;
    line-height: 60px;
    background-color: #cc0808;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.cms_user::after {
    position: absolute;
    top: 27px;
    right: 4px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 6px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.head_photo {
    width: 40px;
    height: 40px;
    margin: 10px 7px 10px 5px;
    border-radius: 50%;
}

.user_name {
    line-height: 60px;
    min-width: 48px;
    text-align: center;
    padding-right: 28px;
}

.select_menu {
    position: fixed;
    top: 60px;
    right: 126px;
    width: 128px;
    z-index: 999;
    background-color: #cc0808;
}

.select_menu li {
    width: 100%;
    line-height: 31px;
    text-indent: 20px;
    cursor: pointer;
    user-select: none;
    color: #fff;
}

.select_menu li:hover {
    background-color: #ae1010;
}

.navbar-header {
    width: 100%;
    height: 48px;
    /* background-color: #3280FC; */
}

.navbar-logo {
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    color: #202020;
    background-color: #2f4050;
    border-bottom: 1px solid #fff;
}

.navbar {
    height: calc(100% - 60px);
    background-color: #fff;
    overflow: auto;
    border-right: 20px solid #f7f7f7;
}

.sidebar {
    width: 180px;
    padding-top: 20px;
    overflow: auto;
    /* background-color: #eee; */
}

.sidebar .sb_list {
    height: 100%;
    overflow: auto;
}

.sidebar .sb_list .sb_li {
    color: #202020;
    font-weight: bold;
    transition: all .5s;
}

.sidebar .sb_list .sb_li.active {
    /* border-left: 4px solid #19aa8d; */
    background-color: #fff1e0;
    color: #f99f36;
}

.sidebar .sb_list .sb_li.active .sub_tit {
    color: #fff;
}

.sidebar .sb_list .sb_li.active .sb_tit {
    color: #f99f36;
}

.sidebar .sb_list .sb_li .sb_tit {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-indent: 10px;
    color: #202020;
    cursor: pointer;
    user-select: none;
}

.sidebar .sb_list .sb_li .sb_tit img {
    width: 20px;
    height: 20px;
    margin-top: 12.5px;
    /* background-color: #fff; */
    margin-left: 20px;
}

.sb_list .sb_li.active .sb_sub_list {
    max-height: 210px;
    overflow: auto;
    transition: all 1s;
}

.sb_sub_list {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}

.sb_sub_list li {
    height: 30px;
    line-height: 30px;
    text-indent: 50px;
    transition: all .5s;
    cursor: pointer;
    color: #f99f36;
}

.sb_sub_list li {
    height: 30px;
    line-height: 30px;
    text-indent: 50px
}

.right {
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    overflow: hidden;
}

.r_tit_list {
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #2f4050;
    background-color: #f7f7f7;
}

.r_tit_list .roll-nav {
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.r_tit_list .roll-nav:hover {
    background-color: #f2f2f2;
}

.r_tit_list .roll-left {
    border-right: 1px solid #eee;
}

.r_tit_list .roll-right {
    border-left: 1px solid #eee;
}

.r_tit_list .r_tit_ul {
    width: calc(100% - 82px);
    height: 40px;
}

.r_tit_list .r_tit_ul .r_tit_li {
    position: relative;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #eee;
    background-color: #fff;
    text-align: center;
    color: #999;
    cursor: pointer;
    transition: all .5s;
}

.r_tit_list .r_tit_ul .r_tit_li:hover {
    background-color: #f2f2f2;
}

.r_tit_list .r_tit_ul .r_tit_li.active i {
    background-color: #fff;
}

.r_tit_list .r_tit_ul .r_tit_li.active i::after,
.r_tit_list .r_tit_ul .r_tit_li.active i::before {
    background-color: #f99f36;
}

.r_tit_list .r_tit_ul .r_tit_li i {
    position: absolute;
    display: inline-block;
    right: 6px;
    top: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #404040;
    transition: all .5s;
    vertical-align: middle;
    transform: rotate(-45deg);
}

.r_tit_list .r_tit_ul .r_tit_li i:hover {
    background-color: #ff4a4a;
}

.r_tit_list .r_tit_ul .r_tit_li i::before {
    position: absolute;
    top: 8px;
    left: 2px;
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background: #fff;
}

.r_tit_list .r_tit_ul .r_tit_li i::after {
    position: absolute;
    top: 3px;
    left: 7px;
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #fff;
}

.r_tit_list .r_tit_ul .r_tit_li.active {
    color: #fff;
    background-color: #f99f36;
    transition: all .5s;
}

.content {
    height: calc(100% - 90px);
    overflow: hidden;
    background-color: #fff;
}

.nav-user {
    height: 105px;
    background: url(https://webimages.pzlive.vip/header-profile.png) no-repeat;
    padding: 25px;
}

.user-content {
    width: 140px;
    height: 105px;
}

.user-content p {
    color: #fff;
}

.user-content .username {
    margin-top: 10px;
}

.user-content .userstatus {
    margin-top: 5px;
    color: #8095a8;
    cursor: pointer;
    user-select: none;
}

.userstatus::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.headimg {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.right-header {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: red;
    font-size: 20px;
    background-color: #f3f3f4;
}

.user-content {
    position: relative;
}

.user-content .dropdown-menu {
    position: absolute;
    width: 140px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.3);
    border-radius: 2px;
    z-index: 20;
}

.user-content .dropdown-menu li {
    width: 100%;
    line-height: 31px;
    text-indent: 20px;
    color: #333;
    cursor: pointer;
    user-select: none;
}

.user-content .dropdown-menu li:hover {
    background-color: #f5f5f5;
    color: #262626;
}