.header-info {
    display: inline-block;
    float: left;
    /* width: 550px; */
}

.info-list {
    display: inline-block;
    float: left;
    width: 100%;
    /* min-width: 800px; */
}

.info-list .d2-list {
    margin-top: 0;
}

.abbtn {
    display: block;
    overflow: auto;
    margin-bottom: 15px;
}

.combobox {
    margin-left: 160px;
}

.addcombobox {
    margin-left: 0;
}

.agpupcombobox {
    margin-left: 130px;
}

.wid {
    width: 100%;
}