.header-info {
    display: inline-block;
    float: left;
    /* width: 550px; */
}

.info-list {
    display: inline-block;
    float: left;
    width: 100%;
    /* min-width: 800px; */
}

.info-list .d2-list {
    margin-top: 0;
}

.abbtn {
    display: block;
    overflow: auto;
    margin-bottom: 15px;
}

.combobox {
    margin-left: 160px;
}

.addcombobox {
    margin-left: 0;
}

.agpupcombobox {
    margin-left: 130px;
}

.wid {
    width: 100%;
}

.ratioBtn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    margin: 1px 10px;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    background-color: #3bb4f2;
    user-select: none;
}