.ratioBtn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    margin: 1px 10px;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    background-color: #3bb4f2;
}

.pz-spin-container .dl-show .invoice_title {
    width: 140px;
}