<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成员管理</title>
    <link rel="stylesheet" href="../../../css/style.css?1.0.2">
    <link rel="stylesheet" href="../../../css/bootstrap.css">
    <link rel="stylesheet" href="../../../css/list.css">
    <link rel="stylesheet" href="../../../css/details.css">
    <link rel="stylesheet" href="./member.css">
    <script src="../../../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="iframenav">
            <!-- <button class="">刷新</button> -->
            <div class="refresh topbtn din fl" onclick="document.location.reload()">
                <img src="../../../images/sx.png" alt="">
            </div>
            <div class="add addgoods topbtn din fl" @click="addMember">
                <img src="../../../images/jia.png" alt="">
            </div>
        </div>
        <div class="gs-list panel-default">
            <div class="gl-head panel-heading ">
                <span>成员列表</span>
            </div>
            <div class="gl-title">
                <span class="col-md-2 bot-bor subli">序号</span>
                <span class="col-md-3 bot-bor subli">用户名</span>
                <span class="col-md-3 bot-bor subli">权限</span>
                <span class="col-md-4 bot-bor subli">管理</span>
            </div>
            <div class="table" id="goodlist">
                <div class="table-tr">
                    <div class="col-md-2 bot-bor subli">序号</div>
                    <div class="col-md-3 bot-bor subli">用户名</div>
                    <div class="col-md-3 bot-bor subli">权限</div>
                    <div class="col-md-4 bot-bor subli">管理</div>
                </div>
            </div>
            <div class="w-floor-page">
                <div class="floor-page" id="floorpages"></div>
            </div>
        </div>
        <div class="pz-modal" v-show="modal">
            <div class="pz-modal-content">
                <div class="pz-modal-header">编辑供应商</div>
                <div class="pz-spin-container">
                    <div class="dl-show">
                        <span class="dl-title">用户名:</span>
                        <input class="dl-info" placeholder="请输入用户名" v-model="username" value="" type="text">
                    </div>
                    <div class="dl-show">
                        <span class="dl-title">密码:</span>
                        <input class="dl-info" placeholder="默认123456" v-model="pwd" value="" type="text">
                    </div>
                    <div class="dl-show">
                        <span class="dl-title">管理员类型:</span>
                        <div class="combobox">
                            <div class="ant-select">
                                <div class="ant-select-selection" ref="selection" id="selection">请选择</div>
                                <span class="ant-select-arrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="dl-show flexcenter">
                        <input type="button" value="取消" class="pz-btn btn-cancel" @click="cancel">
                        <input type="button" value="保存" @click="submit" class="pz-btn btn-amend">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../../../js/common.js"></script>
<script type="module" src="./member.js"></script>

</html>